nav{
  min-height: 60px;
  background-color: #722431;
  display: flex;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 99;
}

/* Style the Nav Logo*/
nav logocontainer{
    display: block;
    position: relative;
    width: 80px;
    vertical-align: middle;
    overflow: hidden;
    margin: 5px 5px 10px;
}

nav svg{
  fill: white;
  width: 100%;
  height: 100%;
  overflow: visible;
  display: block;
  position: absolute;
}

nav svg:hover{
  fill: #F2DF74;
}

nav path{
  transition: fill .25s ease;
}
/* Style the Nav Logo*/


/*General Style for the navbar*/
.navbar{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    align-content: flex-end;
}

.navbar ul{
    padding: 0;
}

.navbar li{
    text-decoration: none;
    list-style: none;
}

.navbar a{
    color: white;
    transition: color .25s ease;
    display: block;
}

.navbar a:hover{
    color: #F2DF74;
    cursor: pointer;
}

.navbar .submenu{
    display: none;
    position: absolute;
    z-index: 1000;
    top: 100%;
    left: 0;
    padding: 20px 0 30px;
    width: 100%;
    text-align: left;
    background: #d1d2d4;
    color: black;    
}

.navbar .submenu a{
    color: black;
}

.navbar .submenu ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar .submenu .row{
    max-width: 800px;
    margin: 0 auto;
    display: flex;
}

.navbar .submenu .column{
    flex-basis: 30%;
}
