/* Resetting the page margins */
*{
  margin: 0;
  padding: 0;
    text-decoration: none;
}

main{
    padding: 60px 0 0 0;
}

/* Adjusting the main content settings*/
.wrapper{
    display: flex;
    flex-flow: wrap;
}


/*Adjusting the Attend a Meeting button*/
#myBtn {
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 20px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #CD202C; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 15px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn a{
    color: white;
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

#myBtn a{
    color: white;
}



/* Setting the fonts for the page */
p{
  font-family: 'Source Sans Pro', sans-serif;
}

h1{
  font-family: 'Raleway', sans-serif;
}

h2{
    font-family: 'Raleway', sans-serif; 
}

/* Setting the fonts for the page */

/* Editing the nav bar */
nav{
  min-height: 60px;
  background-color: #722431;
  display: flex;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 99;

}

nav logocontainer{
  display: inline-block;
position: relative;
width: 80px;
vertical-align: middle;
overflow: hidden;
margin: 5px 5px 10px;
}

nav svg{
  fill: white;
  width: 100%;
  height: 100%;
  overflow: visible;
  display: inline-block;
  position: absolute;
}

nav svg:hover{
  fill: #F2DF74;
}

nav path{
  transition: fill .5s ease;
}

nav h1{
    color: white;
    margin: auto;
    text-align: center;
}
/* Editing the nav bar */



.elevatorpitch{
    position: relative;
    width: 100vw;
    text-align: center;
}

.elevatorpitch h1{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 2px 2px black;
}

.hero{
    max-height: 80vh;
    overflow: hidden;
}

.hero img{
    max-width: 100%;
    height: auto;
    object-fit: contain;
    background-position: center center;
}