/* Adjusting the main content settings*/
*{
  margin: 0;
  padding: 0;
    text-decoration: none;
}

main{
    padding: 60px 0 0 0;
}

.wrapper{
    display: flex;
    flex-flow: wrap;
}
/* Adjusting the main content settings*/


/*Adjusting the Attend a Meeting button*/
#myBtn {
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 20px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #CD202C; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 15px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn a{
    color: white;
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

#myBtn a{
    color: white;
}
/*Adjusting the Attend a Meeting button*/





/* Adjusting the Hero Image*/
.herotext{
    position: relative;
    width: 100vw;
    text-align: center;
}

.herotext h1{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 2px 2px black;
}

.hero{
    max-height: 80vh;
    overflow: hidden;
}

.hero img{
    max-width: 100%;
    height: auto;
    object-fit: contain;
    background-position: center center;
}
/* Adjusting the Hero Image*/



.head{
    text-align: center;
}

.listhead{
    padding: 2vh;

}

.container{
    background-color: #f5f5f5;
    width: 100%;
}

.container-even{
    background-color: white;
    width: 100%;
}

.container-body{
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
}

hr{
    border: 1px #F2DF74 solid;
}

.break{
    width: 0;
    flex-basis: 100%;
}

.modnumber{
    font-size: 5rem;
    display: flex;
    justify-content: center;
    flex: 1;
    padding: 0 1vh;
    color: #58595b;

}

.modhead{
    justify-self: center;
    align-self: center;
    flex: 4;
    padding: 2vh 1vh;
}

.modhead hr{
    width: 100%;
}

 .modhead .title{

    margin: 0;
    padding: 15px 0px;
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: bold;
    color: #000;
}


/*Adjusting the buttons*/
.modbutton{
    padding: 0 0 3vh 10%;
}

.modbutton-odd{
    margin-left: auto;
    margin-right: 10%;
    padding: 0 0 3vh;    
    
}

#btn {
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #772432; /* Set a background color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 15px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
    white-space: nowrap;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, .12), 2px 2px 4px 0 rgba(0, 0, 0, .14);
}

a #btn{
    color: white; /*Set text white*/
}

#btn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
/*Adjusting the buttons*/

.faq{
    width: 100%;
}

.faq_question {
    margin: 0px;
    padding: 5px 0px 5px 0px;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
}
 
.faq_answer_container {
    height: 0px;
    overflow: hidden;
    padding: 0;
}