/* Resetting the page margins */
*{
  margin: 0;
  padding: 0;
}

/* Setting the fonts for the page */
p{
  font-family: 'Source Sans Pro', sans-serif;
}

h1{
  font-family: 'Raleway', sans-serif;
}
/* Setting the fonts for the page */

/* Editing the nav bar */
nav{
  min-height: 80px;
  background-color: #722431;
  display: flex;
}

nav logocontainer{
  display: inline-block;
position: relative;
width: 80px;
vertical-align: middle;
overflow: hidden;
margin: 5px 5px 10px;
}

nav svg{
  fill: white;
  width: 100%;
  height: 100%;
  overflow: visible;
  display: inline-block;
  position: absolute;
}

nav svg:hover{
  fill: #F2DF74;
}

nav path{
  transition: fill .5s ease;
}
/* Editing the nav bar */
